@charset "UTF-8";

body {
  background: #edf0f1;
  padding: 80px 0 0 0;
}

body, input, button,h1,h3 {
  font-family: 'Roboto', sans-serif;
  
}

h1,h3{
   text-align:center;
   padding-left:20px;
   padding-bottom:10px;
}


.noFill {
  fill: none;
}

header {
  width: 91%;
  height: 80px;
  
  margin-left:50px;
  margin-top:20px;
  position:relative;
  padding: 15px;
  top: 0;
  left: 0;
  z-index:1;

  background: blue;
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}


header input {
  width:100%;
  height:50px;
  float:left;
  color:aqua;
  font-size: 15px;
  font-weight: 400;
  text-indent: 18px;
  padding: 0 60px 0 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px 25px 25px 5px;
  border: 0px;
  box-shadow: none;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
}

header input::-webkit-input-placeholder {
  color:aqua;
}

header input:-moz-input-placeholder {
  color:aqua;
}

header input::-moz-input-placeholder {
  color:aqua;
}

header input:-ms-input-placeholder {
  color:aqua;
}

header button {
  width: 50px;
  height: 50px;

  position:absolute;
  top:15px;
  right:15px;
  z-index:2;

  border-radius: 25px;
  background: #fff;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
}

header button svg {
  width: 16px;
  height: 16px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -8px 0 0 -8px;
}

header button svg .fill {
  fill: #25b99a;
}

.isi {
  width: 100%;
  padding:50px 50px;
  float: left;
}

ul.toshop {
  width: 100%;
  float: left;
}

ul.toshop li.undone {
  width: 100%;
  min-height: 50px;
  float: left;
  font-size: 14px;
  font-weight: 500;
  color:white;
  line-height: 22px;

  background:rgb(192, 171, 171);
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
  margin: 0 0 10px 0;
  padding: 14px 100px 14px 14px;
  word-break: break-word;
}

ul.toshop li.done {
  width: 100%;
  min-height: 50px;
  float: left;
  font-size: 14px;
  font-weight: 500;
  color:white;
  line-height: 22px;

  background:green;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
  margin: 0 0 10px 0;
  padding: 14px 100px 14px 14px;
  word-break: break-word;
}

li{
  background: #fff;
}

ul.toshop li:last-of-type {
  margin: 0;
}

ul.toshop li .buttons {
  width: 100px;
  height: 50px;

  position: absolute;
  top: 0;
  right: 0;
}

ul.toshop li .buttons button {
  width: 30px;
  height: 30px;
  float:left;
  background: none;
  position: relative;
  border: 1px;
  box-shadow: 1px;
  outline: none;
  cursor: pointer;
  padding:1 1 1 1;
  -webkit-appearance: none;
  -moz-appearance: none;
}

ul.toshop li .buttons button:last-of-type:before {
  content: '';
  width: 1px;
  height: 30px;
  background: #edf0f1;

  position: absolute;
  top: 10px;
  left: 0;
}

ul.toshop li .buttons button svg {
  width: 22px;
  height: 22px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -11px 0 0 -11px;
}

.box{
   width:30px;
}
ul.toshop li .buttons button.complete svg {
  border-radius: 11px;
  border: 1.5px solid #25b99a;

  transition: background 0.2s ease;
}

ul.toshop#completed li .buttons button.complete svg {
  background: #25b99a;
  border: 0px;
}

#closeButton #addButton{
   font-size: 25px;
   margin:10px;
   padding: 10px;
}

button.remove{
  font-size: 25px;
  color: #25b99a;
  padding: 5px;
}

ul.toshop:not(#completed) li .buttons button.complete:hover svg {
  background: rgba(37, 185, 154, 0.75);
}

ul.toshop:not(#completed) li .buttons button.complete:hover svg .fill {
  fill: #fff;
}

ul.toshop#completed li .buttons button.complete svg .fill {
  fill: #fff;
}

ul.toshop li .buttons button svg .fill {
  transition: fill 0.2s ease;
}

ul.toshop li .buttons button.remove svg .fill {
  fill: #c0cecb;
}

.text{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:15px;
}
.formList{
    margin:10px;
    padding:10px;
}
ul.toshop li .buttons button.remove:hover svg .fill {
  fill: #e85656;
}

ul.toshop li .buttons button.complete svg .fill {
  fill: #25b99a;
}

ul.toshop#completed {
  position: relative;
  padding: 30px 0 0 0;
}

ul.toshop#completed:before {
  content: '';
  width: 150px;
  height: 1px;
  background: #d8e5e0;

  position: absolute;
  top: 60px;
  left: 50%;

  margin: 0 0 0 -75px;
}


ul.toshop#toshop:empty:after {
  content: 'Daftar Belanjaanmu Kosong';
  margin: 50px 0 0 0;
}


ul.toshop#toshop:after,
ul.toshop#completed:after {
  width: 50%;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #aaa;
}
